/* add padding to bookmarks bar */
toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 8px 7px !important;
}

/* prevent the browser setting a height to the bookmarks bar */
:root[BookmarksToolbarOverlapsBrowser] #PersonalToolbar {
  height: initial !important;
}

/* add margin to right right of all tabs button and change border radius to match */
#alltabs-button {
  margin-right: 2px !important;
  --tab-border-radius: 7px;
}

/* remove spaces on either side of the tabbar */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none;
}

/* add margin to the left side of the window buttons */
.titlebar-buttonbox {
  margin-inline: 12px 15px !important;
}

/* rounded edges on buttons */
:root {
  --toolbarbutton-border-radius: 7px !important;
}
